---
import { SITE } from '~/utils/config';
import logolightURL from '~/assets/images/logo/icono_blanco_negro.png';
import logodarkURL from '~/assets/images/logo/icono_negro_blanco.png';

---
<!--
<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    <img src={logoURL.src} width=75  alt="Logo de Ruiz Lizondo" /> {SITE?.name}
  
</span>
-->
<div class="flex items-center">
    <!-- Logo para Modo Claro -->
  <img src={logolightURL.src} alt="Logo GAF Ruiz Lizondo" class="h-16 w-auto dark:hidden" />

  <!-- Logo para Modo Oscuro -->
  <img src={logodarkURL.src} alt="Logo GAF Ruiz Lizondo" class="h-16 w-auto hidden dark:block" />

    <span class="ml-2 text-2xl md:text-xl font-bold text-gray-900 dark:text-white">
      {SITE?.name}
    </span>
  </div>